.tic-tac-toe{
  border: solid #ccc 1px;
  margin: 30px;
}

.board{
  background: #14bdac;
  padding: 50px;
  display: flex;
}

table td{
  height: 100px;
  width: 100px;
  border: solid #00A492 7px;
  text-align: center;
}

table td.win{
  background-color: rgba(0, 0, 0, 0.05);
}

table {
  display: inline;
  margin: 0 auto;
}

.board .material-icons{
  font-size: 70px;
}

.material-icons.dark-gray{
  color: #444;
}

.material-icons.white{
  color: #fff;
}

.scoreboard p{
  display: flex;
  align-items: center;
  font-size: 26px !important;
  border: solid 1px #ccc;
  border-radius: 9px;
  padding: 10px;font-size: 36px;
}

tr.row-0 td{
  border-top: 0px;
}

tr.row-2 td{
  border-bottom: 0px;
}

.cell-0{
  border-left: 0px;
}

.cell-2{
  border-right: 0px;
}